{% extends 'dashboard.html' %}


{% block dash %}



<div class="container py-4">
    <div class="h3 py-4">
        Add Staff
    </div>
    <form action="" method="POST" class="form-control shadow py-4">
        {% csrf_token %}
        <label for="">Department</label>
        <select name="dept" id="" class="form-control">
            {% for dept in dept %}
            <option value="{{dept.name}}">{{dept.name}}</option>
            {% endfor %}
        </select><br>
        <label for="">Name</label>
        <input type="text" name="name" class="form-control" placeholder="Name">
        <br><br>
        <button class="btn btn-dark">Submit</button>
    </form>
</div>
    
{% endblock %}