{% extends 'dashboard.html' %}
{% load static %}

{% block dash %}

<table style="width:100%" border="1px solid black">
    <tr>
      <td><img src="{% static 'img/jslogo.jpg'%}" alt="" class="img-fluid" style="max-width:250px"></td>
      <td colspan='2'><p>JSS MAHAVIDYAPEETHA <br><span>JSS Science and Technology University</span> <br> JSS TI Campus, Mysuru 570006
        <span>ADMISSION TICKET</span><br>JUNE: 2023 EXAMINATION
        </p></td>
    </tr>
    <tr>
      <td colspan='2'><p> Programme: MCA1-Master of Computer Applications <br> <br>College Code: 1002 <br><br>Students Name: Shanker S P </p></td>
  
      <td> <img src="{% static 'img/photo.jpeg' %}" alt="" class="img-fluid" style="width: 100px;"></td>
    </tr>
  </table>


{% endblock %}

